extends ../template

block variables
    - var title = 'Блог'

block content
    ul.test-list
        // each item in another.skills
            li
                h1 #{item}
    //h2 #{skills.about}
    section.section.hero
        .hero__socials
            ul.socials
                li
                    a(href="" class=`socials__item socials__item_${item}`)
                    img(src="assets/images/vk.svg", alt="")
                li
                    a(href="" class=`socials__item socials__item_${item}`)
                    img(src="assets/images/github.svg", alt="")
                li
                    a(href="" class=`socials__item socials__item_${item}`)
                    img(src="assets/images/in.svg", alt="")
        .hero__title
            .section-title
                img(src="assets/images/photo_circle.png", alt="").section-title__pic
            .user.hero__user
                .user__pic
                    img.user__pic-img
                .user__description
                    .user__name Владимир Астахов
                    .user__info Личный сайт разработчика
        .hamburger.hero__menu
        .arrow-down.hero__scroll-btn
    section.section.about
        .about__left
            ul
                li Самое важное в SASS
                li Приёмы в вёрстке, без которых не обходится ни один сайт
                li Самый необходимый набор Gulp плагинов
                li Почему я выбрал Jade
        .about__right
            ul
                li
                    .about__right-content Самое важное в SASS
                        .about__right-date 22 ноября 2016
                        .about__right-text Таким образом начало повседневной работы по формированию позиции позволяет выполнять важные задания по разработке направлений прогрессивного развития. Разнообразный и богатый опыт новая модель организационной деятельности играет важную роль в формировании новых предложений. Товарищи! новая модель организационной деятельности играет важную роль в формировании систем массового участия.
                        .about__right-pic
                li
                    .about__right-content Приёмы в вёрстке, без которых не обходится ни один сайт
                        .about__right-date 13 ноября 2016
                        .about__right-text Таким образом начало повседневной работы по формированию позиции позволяет выполнять важные задания по разработке направлений прогрессивного развития. Разнообразный и богатый опыт новая модель организационной деятельности играет важную роль в формировании новых предложений. Товарищи! новая модель организационной деятельности играет важную роль в формировании систем массового участия.
                        .about__right-pic
                            a(href="" class=`.about__right-paste`)
                            img(src="assets/images/code.png", alt="")
                li
                    .about__right-content Самый необходимый набор Gulp плагинов
                        .about__right-date 22 ноября 2016
                        .about__right-text Таким образом начало повседневной работы по формированию позиции позволяет выполнять важные задания по разработке направлений прогрессивного развития. Разнообразный и богатый опыт новая модель организационной деятельности играет важную роль в формировании новых предложений. Товарищи! новая модель организационной деятельности играет важную роль в формировании систем массового участия.
                        .about__right-pic
                li
                    .about__right-content Почему я выбрал Jade
                        .about__right-date 22 ноября 2016
                        .about__right-text Таким образом начало повседневной работы по формированию позиции позволяет выполнять важные задания по разработке направлений прогрессивного развития. Разнообразный и богатый опыт новая модель организационной деятельности играет важную роль в формировании новых предложений. Товарищи! новая модель организационной деятельности играет важную роль в формировании систем массового участия.
                        .about__right-pic
    section.section.map
        .google-map
        .map__contacts
            .contacts
                .contacts__title
                    .block-subtitle Контакты
                ul.contacts__list
                    -
                        var contacts = [
                        ['skype', 'skype_kdn'],
                        ['mail', 'astahov@gmail.com'],
                        ['phone', '+79211 123 23 23'],
                        ['mark', 'Новосибирск'],
                        ]
                    each contact in contacts
                        li.contacts__item
                            .contacts-row
                                .contacts-row__icon #{contact[0]}
                                .contacts-row__content #{contact[1]}
        footer.map__footer.footer
            .footer__row
                .container
                    .footer__col.footer__col-left
                        nav.menu
                    .footer__col.footer__col-right
                        ul.socials.socials_rounded
                            li
                                a(href="" class=`socials__item socials__item_${item}`)
                                img(src="assets/images/vk-round.svg", alt="")
                            li
                                a(href="" class=`socials__item socials__item_${item}`)
                                img(src="assets/images/github-round.svg", alt="")
                            li
                                a(href="" class=`socials__item socials__item_${item}`)
                                img(src="assets/images/in-round.svg", alt="")
            .footer__row
                .container
                    .footer__col.footer__col-left
                        .footer__text
                            p Я веб-разработчик из Новосибирска, и этот сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool.
                    .footer__col.footer__col-right
                        .footer__text.footer__text_margin_top
                            p Я веб-разработчик из Новосибирска, и этот сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool.
