extends ../template

block variables
    - var title = 'Мои работы'

block content
    h1 Мои работы
    h2 Сайт школы онлайн Образования
    p HTML , CSS, JAVASCRIPT

    h1 Что обо мне говорят
    button Посмотреть сайт

    h2 Связаться со мной
    //- include ../common/slider.pug
block content
    ul.test-list
        // each item in another.skills
            li
                h1 #{item}
    //h2 #{skills.about}
    section.section.hero
        .hero__socials
            ul.socials
                li
                    a(href="" class=`socials__item socials__item_${item}`)
                    img(src="assets/images/vk.svg", alt="")
                li
                    a(href="" class=`socials__item socials__item_${item}`)
                    img(src="assets/images/github.svg", alt="")
                li
                    a(href="" class=`socials__item socials__item_${item}`)
                    img(src="assets/images/in.svg", alt="")
        .hero__title
            .section-title
                img(src="assets/images/photo_circle.png", alt="").section-title__pic
            .user.hero__user
                .user__pic
                    img.user__pic-img
                .user__description
                    .user__name Владимир Астахов
                    .user__info Личный сайт разработчика
        .hamburger.hero__menu
        .arrow-down.hero__scroll-btn
    section.section.site
        h2 Мои работы
        .site__left
            .triangle.tringle_fill_white.about__left-triangle
            .site__left-title
                .block-title Сайт школы онлайн Образования
            .site__left-content
                .user-description
                    .user-description__text.text-content
                        p HTML , CSS, JAVASCRIPT
            button Посмотреть сайт
        .site__right
            .triangle.tringle_fill_beige.about__right-triangle


    section.section.comments
        h2 Что обо мне говорят
        .comments_text.content
            .content-avatar
                a(href="" class=`content-avatar-pic`)
                    img(src="assets/images/kovalchuk.png", alt="")
            .content-text
                p  Этот парень проходил обучение веб-разработке не где-то, а в LoftSchool! 2 месяца только самых тяжелых испытаний и бессонных ночей!
            .content-text-name Ковальчук Дмитрий
            .content-text-position основатель Loftschool
        .comments_text.content
            .content-avatar
                a(href="" class=`content-avatar-pic`)
                    img(src="assets/images/sabanzev.png", alt="")
            .content-text
                p  Этот код выдержит любые испытания. Только пожалуйста, не загружается сайт на слишком старых браузерах!
            .content-text-name Сабанцев Владимир
            .content-text-position преподаватель
        form
            h1 Связаться со мной
            .form-content
                ul
                    li Имя
                    li Email
                    li Ваше сообщение
            button Отправить
            button Очистить
        footer.map__footer.footer
            .footer__row
                .container
                    .footer__col.footer__col-left
                        nav.menu
                    .footer__col.footer__col-right
                        ul.socials.socials_rounded
                            each item in ['vk', 'fb', 'in']
                                li.socials__item
                                    a(href="" class=`socials__item socials__item_${item}`)
            .footer__row
                .container
                    .footer__col.footer__col-left
                        .footer__text
                            p Я веб-разработчик из Новосибирска, и этот сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool.
                    .footer__col.footer__col-right
                        .footer__text.footer__text_margin_top
                            p Я веб-разработчик из Новосибирска, и этот сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool.
